    .layout {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    button {
        color: white;
        border-radius: 12px;
        padding: 16px 28px;
        border-width: 0;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1.3rem;
    }
    /*searchDetailBar*/
    
    .searchDetailBar {
        display: inline-block;
        padding: 20px;
        border-radius: 12px;
        background: var(--productBg);
        width: 300px;
    }
    
    .searchCondition {
        margin-bottom: 20px;
    }
    
    .searchDetailBar input {
        background: white;
    }
    
    #keyword1 {
        width: 100%;
        text-indent: 30px;
    }
    
    .searchBox .btn {
        top: 4px;
        left: 4px;
    }
    
    .searchBox {
        margin-bottom: 12px;
        position: relative;
    }
    
    .searchDetailBar .priceInput input {
        width: calc(50% - 20px);
        text-align: center;
    }
    
    .searchDetailBar .priceInput span {
        display: inline-block;
        margin: 0 12px;
    }
    
    .searchDetailBar .footer {
        background: var(--textDark);
        border-radius: 50px;
        padding: 5px 12px;
    }
    
    .searchDetailBar .footer .btn {
        font-size: 1.125rem;
        letter-spacing: 1px;
        font-weight: bold;
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
    
    .searchDetailBar .footer:hover,
    .searchDetailBar .footer:focus {
        background: var(--mainColor);
        color: white;
    }
    
    .searchDetailBar .footer .btn p,
    .searchDetailBar .footer .btn img {
        display: inline-block;
    }
    
    .searchDetailBar .footer .btn img {
        width: 24px;
    }
    
    .searchDetailBar .searchMenu {
        border-top: 2px solid var(--textDark);
    }
    
    .searchDetailBar .searchMenu>.title>span {
        display: block;
        text-align: center;
    }
    
    .searchDetailBar .searchMenu>.title>span:first-child {
        margin: 20px 0 6px 0;
    }
    
    .searchDetailBar .searchMenu>.title>span:nth-child(2) {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .searchDetailBar .itemTable {
        padding: 0 20px;
        background: white;
        border-radius: 12px;
    }
    
    .searchDetailBar .item .title,
    .searchDetailBar .item li {
        background: white;
        letter-spacing: 1px;
        border-bottom: 1px solid var(--inputBg);
    }
    
    .searchDetailBar .item:last-child[class~=act] .title {
        border-bottom: 1px solid var(--inputBg);
    }
    
    .searchDetailBar .item:last-child .title,
    .searchDetailBar .item:last-child[class~=act] li:last-child {
        border-bottom: unset;
    }
    
    .searchDetailBar .item .title {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0px;
    }
    
    .searchDetailBar .item.act .title {
        color: var(--redColor);
    }
    
    .searchDetailBar .item .content {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        /* display: none; */
    }
    
    .searchDetailBar .item li {
        padding: 16px 0px;
    }
    
    .searchDetailBar .item li a {
        color: var(--textGrayLight);
    }
    
    .layoutRight {
        width: calc(100% - 332px);
    }
    
    .main {
        display: inline-block;
        margin-top: 0;
    }
    
    .showMenu {
        padding: 16px;
        text-align: center;
        border: 1px solid #dcd6c5;
        margin-bottom: 20px;
        background: #eee9de;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .showMenu span {
        display: inline-block;
        margin-right: 12px;
        vertical-align: middle;
        font-weight: bold;
    }
    
    .mainContent .series .content {
        padding-top: 20px;
    }
    
    .showMenu {
        display: none;
    }
    /* 小於992 */
    
    @media screen and (max-width: 991px) {
        .searchDetailBar,
        .main {
            width: 100%;
        }
        .layout {
            display: block;
        }
        .showMenu {
            display: block;
            cursor: pointer;
        }
        .searchMenu {
            display: none;
        }
        .searchDetailBar {
            margin-bottom: 40px;
        }
        .layoutRight {
            width: 100%;
        }
    }
    /* 小於768 */
    
    @media screen and (max-width: 767px) {}